language: python
python:
  - "2.7"
  - "3.6"
  - "nightly"

# command to install dependencies
install:
  - pip install -r test-requirements.txt
  - pip install -e .
# command to run tests
script: python tests.py

cache: pip
